/* Webfont: Gellix-SemiBoldItalic */@font-face {
    font-family: 'GellixSemiBold';
    src: url('Gellix-SemiBoldItalic_R.woff2') format('woff2'), /* Modern Browsers */
         url('Gellix-SemiBoldItalic_R.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

