/* Webfont: Gellix-RegularItalic */@font-face {
    font-family: 'Gellix';
    src: url('Gellix-RegularItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Gellix-RegularItalic_R.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

