/* Webfont: Gellix-LightItalic */@font-face {
    font-family: 'GellixLight';
    src: url('Gellix-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Gellix-LightItalic_R.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

