/* Webfont: Gellix-Light */@font-face {
    font-family: 'GellixLight';
    src: url('Gellix-Light_R.woff2') format('woff2'), /* Modern Browsers */
         url('Gellix-Light_R.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

