@font-face {
  font-family: "Gellix";
  src: url("../public/fonts/Gellix_R/Web-PS/Gellix-Regular_R.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../public/fonts/Gellix_R/Opentype-PS/Gellix-Regular_R.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Gellix-bold";
  src: url("../public/fonts/Gellix_R/Web-PS/Gellix-SemiBold_R.woff2")
      format("woff2"),
    /* Modern Browsers */
      url("../public/fonts/Gellix_R/Opentype-PS/Gellix-SemiBold_R.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: Gellix, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2f78c4;
  text-decoration: inherit;
  font-family: "Gellix-bold";
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Gellix-bold";
  cursor: pointer;
  transition: border-color 0.25s;
  color: #fff;
  background-color: #2d2d8f;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

table {
  width: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

thead {
  background-color: #f5f8ff;
  font-size: 13px;
}

tbody,
tr {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  padding: 2px 4px;
  text-align: left;
  color: #f5f8ff;
  background-color: #2e308e;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

label {
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
